extends layout

block content
    .post
        h2.page-title Add
        form.pure-form(method='post', action='/add')
            p
                input.pure-input-1(type='text', name='title', placeholder='title', required, value='#{iFantasy.data.title}')
            p
                input.pure-input-1(type='text', name='link', placeholder='link', required, value='#{iFantasy.data.link}')
            p
                input.pure-input-1(type='text', name='tags', placeholder='tags', value='#{iFantasy.data.tags.join(" ")}')
            p
                textarea.pure-input-1(name='content', placeholder='content', required)= iFantasy.data.content
            p
                button.pure-button.pure-button-primary(type='submit') 保存