<% include header %>

<h2>data.</h2>
<ul>
    <% if(metadata.error){ %>
        <li>username:<span class="value"><%= data.username %></span></li>
    <% }else{ %>
        <li>null</li>
    <% } %>
</ul>

<form method="post" action="/login">
    <div>username:<input type="text" name="username" /></div>
    <div>password:<input type="password" name="password" /></div>
    <div><button type="submit">Login</button></div>
</form>

<% include footer %>
