extends layout

block content
    .post
        h2.page-title Login
        form.pure-form(method='post', action='/login')
            p
                input(type='text', name='username', placeholder='username', required, value='#{iFantasy.data.username}')
            p
                input(type='password', name='password', placeholder='password', required)
            p
                button.pure-button.pure-button-primary(type='submit') 登录