extends layout

block content
    .post
        .post-archive
            .label-title
                | 包含
                b= iFantasy.data.search
                | 的文章
            ul
                for post in iFantasy.data.docs
                    li
                        span.date= extend.dateFormat('yyyy-MM-dd', post.date)
                        a(href='/post/#{post.link}')= post.title