extends layout

block content
    .post
        h2.page-title
            | Tag: 
            span= iFantasy.data.tag
        ul
            for post in iFantasy.data.docs
                li
                    span.date= post.date.toLocaleDateString()
                    a(href='/post/#{post.link}')= post.title