extends layout

block content
    .post
        .post-archive
            h1.label-title
                | 包含标签
                b= iFantasy.data.tag
                | 的文章
            ul
                for post in iFantasy.data.docs
                    li
                        span.date= extend.dateFormat('yyyy-MM-dd', post.date)
                        a(href='/post/#{post.link}')= post.title