extends layout

block content
    .post
        .post-archive
            h2 All Tags
            ul
                for tag in iFantasy.data
                    li(style="font-size: #{13 + tag.weight}px;")
                        a(href="/tag/#{tag.name}")= tag.name