<% include header %>

<h2>data.</h2>
<ul>
    <% if(!metadata.error){ %>
        <% data.forEach(function(tag, index){ %>
            <li><%= index %>:</li>
            <ul>
                <li>name:<span class="value"><%= tag.name %></span></li>
                <li>weight:<span class="value"><%= tag.weight %></span></li>
            </ul>
        <% }) %>
    <% }else{ %>
        <li>null</li>
    <% } %>
</ul>

<% include footer %>
